<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debugURL</key>
	<string>http://175.196.226.213:8088</string>
	<key>releaseURL</key>
	<string>https://naver.com</string>
</dict>
</plist>
